.popup__submit {
  width: 358px;
  min-height: 50px;
  cursor: pointer;
  align-self: center;
  margin-top: 48px;
  border-radius: 2px;
  background-color: black;
  border: 1px solid transparent;
  color: #fff;
}

/*
.popup__submit:hover::after {
  content: '';
  background-color: #fff;
  opacity: 0.2;
  width: 358px;
  height: 50px;
  position: absolute;
} */

.popup__submit:hover {
  opacity: 0.8;
}