.profile__name {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  align-self: flex-end;
}

@media screen and (max-width: 400px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
  }
}