.header {
  max-width: 880px;
  width: 100%;
  margin: 45px auto 0px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 425px) {
  .header {
    min-height: 56px;
    margin-top: 28px;
  }
}